@media only screen and (max-width: 680px) {
    .text-5xl {
        font-size: 20px;
    }
    .small-sce{
        flex-direction: column;

    }
    .p-12{
        padding: 1px;
    }
    .text-6xl{
        font-size: 40px;
        color: whitesmoke;
    }
    .mx-12{
        margin: 15% auto 10px auto;
    }
    .w-1\/2{
        width: 100%;
    }
    .small-sce{
        margin-top: 8%;
    }
    .p-20{
        padding: 15px;
    }
    .h-full {
        height: 650px;
    }
    .ml-40{
        margin-left: 3px;
    }
    .text-4xl{
        font-size: 30px;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .w-3\/4{
        width: 98%;
    }
}